.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  
    .logo-container {
      height: 100%;
      width: 60px;
      padding: 25px;
      color: #090604;
      box-sizing: content-box;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 1.3rem;
      margin-top: 1rem;
      font-weight: 600;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }